/******** MARGIN CLASSES ********/
.m10 {margin: 10px;} .m20 {margin: 20px;} .m30 {margin: 30px;} .m40 {margin: 40px;} .m50 {margin: 50px;} .m100 {margin: 100px;}
.mt10 {margin-top: 10px;} .mt20 {margin-top: 20px;} .mt30 {margin-top: 30px;} .mt40 {margin-top: 40px;} .mt50 {margin-top: 50px;} .mt100 {margin-top: 100px;}
.mb10 {margin-bottom: 10px;} .mb20 {margin-bottom: 20px;} .mb30 {margin-bottom: 30px;} .mb40 {margin-bottom: 40px;} .mb50 {margin-bottom: 50px;} .mb100 {margin-bottom: 100px;}
.ml10 {margin-left: 10px;} .ml20 {margin-left: 20px;} .ml30 {margin-left: 30px;} .ml40 {margin-left: 40px;} .ml50 {margin-left: 50px;} .ml100 {margin-left: 100px;}
.mr10 {margin-right: 10px;} .mr20 {margin-right: 20px;} .mr30 {margin-right: 30px;} .mr40 {margin-right: 40px;} .mr50 {margin-right: 50px;} .mr100 {margin-right: 100px;}
/******** PADDING CLASSES ********/
.p10 {padding: 10px;} .p20 {padding: 20px;} .p30 {padding: 30px;} .p40 {padding: 40px;} .p50 {padding: 50px;} .p100 {padding: 100px;}
.pt10 {padding-top: 10px;} .pt20 {padding-top: 20px;} .pt30 {padding-top: 30px;} .pt40 {padding-top: 40px;} .pt50 {padding-top: 50px;} .pt100 {padding-top: 100px;}
.pb10 {padding-bottom: 10px;} .pb20 {padding-bottom: 20px;} .pb30 {padding-bottom: 30px;} .pb40 {padding-bottom: 40px;} .pb50 {padding-bottom: 50px;} .pb100 {padding-bottom: 100px;}
.pl10 {padding-left: 10px;} .pl20 {padding-left: 20px;} .pl30 {padding-left: 30px;} .pl40 {padding-left: 40px;} .pl50 {padding-left: 50px;} .pl100 {padding-left: 100px;}
.pr10 {padding-right: 10px;} .pr20 {padding-right: 20px;} .pr30 {padding-right: 30px;} .pr40 {padding-right: 40px;} .pr50 {padding-right: 50px;} .pr100 {padding-right: 100px;}

.mt-100 {margin-top: -100px;} .mt-50 {margin-top: -50px;}

body{
	background-image: url(../img/bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
}

a:active, a:focus, button:active, button:focus {
	outline: none !important;
}
.wrapper {
    background-color: rgba(21, 25, 37, 0.58);
    border-radius: 3px;
}
.toggleBtn {
	background-color: #1D232F; 
}
.toggleBtn:focus, .toggleBtn:active {
	outline: none; 
}
.on {
	background-color: #5D6986;
}

.error {
	color: #D3811A;
	text-align: center;
	line-height: 22px;
}
#header{
	margin-bottom: 50px;
}

#title{
	color: inherit;
	padding: 50px;
	text-align: center;
}
#userStats {
	color: #fff;
	font-size: inherit;
}
#userStats img {
	border-radius: 3px;
}

#userGames{
	color: inherit;
	text-align: center;
}

#userFriends{
	color: inherit;
	text-align: center;
}
#getUser {
	color: #fff;
	background-color: #414767;
}

.friend {
	min-height: 120px;
	cursor: pointer;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    transition: all 2s;
}

.friend-avatar {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}
.friend-info {
	width: 65%;
	display: inline-block;
	text-align: left;
	vertical-align: top;
		overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.friend-info .timeago {
	font-size: .8em;
	color: #585C6B;
}
.friend-name {
	word-wrap: break-word;
}
.friend .selected {
	background-color: rgba(103, 132, 175, 0.58);
}

#selectedList.fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	margin: 0;
}
.wrapper .label {
	display: inline-block;
}

.game-block-active{
	width: 100%;
	height: 100%;
	background-color: #5C5C5C;
}

.game {
	text-align: center;
	min-width: 262px;
	min-height: 135px;
    background-color: rgba(21, 25, 37, 0.58);
}
.game img {
	margin: 0 auto;
}

.game-title{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	padding-top: 40px;
	height: 100%;
	width: 100%;
	font-size: 20px;
	opacity: 0;
	color: #BBB;
	background-color: #000;
	transition: opacity 0.5s;
}

.game-title:hover{
	opacity: 0.9;
}

.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear .7s;
}

.animate-show.ng-hide {
  opacity: 0;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}