<!DOCTYPE html>
<html ng-app="SteamTogether">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Steam Together</title>
	<!-- Latest compiled and minified CSS -->
	<!-- Optional theme -->
	<!-- Latest compiled and minified JavaScript -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.css"/>
	<link rel="stylesheet" href="css/style.css" />

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="https://cdn.jsdelivr.net/lodash/4.5.0/lodash.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/jquery.timeago.js"></script>
	<script type="text/javascript" src="app.js"></script>
</head>
<body  ng-controller="ShowFriendsCtrl">
	<div id="header" class="container mt50">
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5 mb30">
				<img src="img/welcome.png" class="img-responsive" alt="Welcome to">
			</div>
			<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 mb50">
				<img src="img/logo.png" class="img-responsive" alt="Welcome to">
			</div>			
		</div>
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
				<form id="userForm" class="input-group">
					<input id="userName" type="text" required="required" class="form-control" placeholder="Enter your Steam Community ID ..." ng-model="username">
					<span class="input-group-btn">
						<button type="submit" id="getUser" class="btn" ng-click="getUserInfo()">Submit</button>
					</span>
				</form>
			</div>			
		</div>
	</div>
	<div class="container mb20" ng-show="error">
		<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 error">
			{{ error }}			
		</div>
	</div>
	<div id="userStats" class="container animate-show" ng-show="userInfos">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			<div class="row wrapper p20">
				<div class="col-xs-4">
					<img src="{{ userInfos.user.avatarfull }}" class="img-responsive">					
				</div>
				<div class="col-xs-8">
					<div class="user-name mt20 mb20">{{ userInfos.user.realname }}</div>
					<div class="mb20">Temps de jeu total: {{ userInfos.totalTime | time }}</div>
					<div>Nombre de jeux possédés: {{ userInfos.userGames.game_count }}</div>									
				</div>
			</div>
		</div>
	</div>
	<div id="selectedList" class="container-fluid wrapper p20 mt20" ng-show="userInfos && friendsList.length > 0">
		<div class="container">
			<div class="row">
				<div class="col-xs-12" ng-show="selectedCount() == 0">You can select up to 8 friends and see what games you have in common with them.</div>
				<div class="col-xs-12" ng-show="selectedCount() > 0">
					<div class="col-xs-12">
						<div class="label label-primary mr10 mb20" ng-repeat="friendData in friendsList" ng-show="friendData.selected">
							{{friendData.friend.personaname}}
						</div>					
						<button class="btn btn-success pull-right" ng-click="compare()" >SteamTogether</button>					
					</div>
				</div>
			</div>			
		</div>
	</div>	
	<div id="userFriends" class="container" ng-show="userInfos">
		<div class="row mt20 mb50">
			<div class="col-xs-12 p20" ng-show="loader">
				<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw margin-bottom"></i>
				<span class="sr-only">Loading...</span>
			</div>
			<div class="col-xs-12 col-sm-3 mb20 friend" ng-click="select(friendData)" ng-repeat="friendData in friendsList">
				<div class="col-xs-10 col-xs-offset-1 col-centered m10 wrapper p10" ng-class="{selected: friendData.selected}">
					<div class="friend-avatar mr10">
						<img class="img-responsive" ng-src="{{friendData.friend.avatarfull}}" alt="avatar">
					</div>
					<div class="friend-info">
						<div class="friend-name">{{friendData.friend.personaname}}</div>
						<time class="timeago" datetime="{{friendData.friend.lastlogoff}}">{{friendData.friend.lastlogoff}}</time>
					</div>											
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid wrapper p20 mt20" ng-show="friendsSelected.length > 0">
		<div class="container">
			<div class="col-xs-12">
				<div class="col-xs-9">
					<div class="label label-primary mr10 mb20" ng-repeat="friendData in friendsSelected" ng-show="friendData.selected">
						{{friendData.friend.personaname}}
					</div>					
				</div>
				<div class="col-xs-3">
					<button class="btn btn-success pull-right" ng-click="getUserInfo()" >New comparison</button>					
				</div>
			</div>			
		</div>
	</div>
	<div id="userGames" class="container mb100">
		<div class="row row-centered">
			<h2 class="mb50" ng-show="games.length == 0 && friendsSelected.length > 0">Darn it ! Sorry Bro! 0 match found !</h2>
			<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 mb30" ng-show="games.length > 0 && friendsSelected.length > 0">
				<h2 class="mb40">{{ games.length }} match(es) found !</h2>
			    <div class="col-xs-6 col-sm-3 mb20">
			    	<button class="btn toggleBtn" ng-click="toggleFilter(1)" ng-class="{'on': pushed['1']}">Multiplayer</button>
			    </div>
			    <div class="col-xs-6 col-sm-4 mb20">
			    	<button class="btn toggleBtn" ng-click="toggleFilter(27)" ng-class="{'on': pushed['27']}">Multiplayer Cross-platform</button>
			    </div>
			    <div class="col-xs-6 col-sm-3 mb20">
			    	<button class="btn toggleBtn" ng-click="toggleFilter(9)" ng-class="{'on': pushed['9']}">Co-op Online</button>
			    </div>
			    <div class="col-xs-6 col-sm-2 mb20">
			    	<button class="btn toggleBtn" ng-click="toggleFilter(20)" ng-class="{'on': pushed['20']}">MMO</button>
			    </div>
			</div>
			<div ng-repeat="game in games | matchesAll:selected" class="col-xs-10 col-xs-offset-1 col-sm-3 col-centered mb30" >
				<div class="col-xs-12 game p10">
					<div class="game-title">{{ game.data.name }}</div>
					<img class="img-responsive" height="136" src="http://cdn.akamai.steamstatic.com/steam/apps/{{ game.data.steam_appid }}/header_292x136.jpg"/>				
				</div>
			</div>			
		</div>
	</div>
<script>
	var selectedListTop = $('#selectedList').offset().top;
	$(window).bind('scroll', function () {
	    if ($(window).scrollTop() > selectedListTop) {
	        $('#selectedList').addClass('fixed');
	    } else {
	        $('#selectedList').removeClass('fixed');
	    }
	});
</script>
</body>
</html>